.about {
	justify-content: space-around;
	flex-flow:column;

	background-image: url($dir + 'assets/medias/images/background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&__container {
		background-color: rgba(9,9,43, 0.6);
		width: 1705px;
		max-width: 90%;
		height:100%;
		max-height: 75%;
		margin: 0 auto;

		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__head {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-left: 80px;

		&-name {
			@extend .heading-3;
			width: 290px;
			height: 290px;
			border-radius: 50%;
			background: #0B105F;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__content {
		width: 910px;
		max-width: 100%;
		margin: 0 130px 0 100px;
	}

	&__nav {
		width: 21px;
		margin-right: 60px;

		display: flex;
		flex-flow:column;

		&-dot {
			margin-bottom: 10px;
			width: 21px;
			height: 21px;
			cursor: pointer;

			&:hover, &.active {
				.groupe-1 {
					opacity: 0.3;
				}
			}
			.groupe-1 {
				opacity: 0;
				transition: 200ms opacity ease-in;
			}
		}
	}

	&__title {
		@extend .heading-2;
		margin-top: 10px;
	}



	&__subtitle {
		white-space: nowrap;
		overflow-y: hidden;
		line-height: 1;

		&__inner {
			display: inline-block;
		}
	}

	&__section {
		display: none;
		width: 100%;
		transform: translateY(20px);

		&.active {
			display: block;
		}
	}


	&__close-btn {
		width: 56px;
		height: 56px;

		position:absolute;
		top: 60px;
		right: 65px;
		z-index: 110;

		cursor: pointer;

		.circle-1 {
			transition: opacity 300ms ease-in-out;
		}

		&:hover {
			.circle-1 {
				opacity: 0.1;
			}
		}
	}

	&__references {

		p {
			margin-top: 25px;
		}

		h4 {
			@extend %TextExtraBold;

			&:not(:first-child) {
				margin-top: 45px;
			}
		}

		a {
			font-style: italic;
		}

		p {
			opacity: 0.9;
		}
	}

	&__media__container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;

		video {
			margin-right: 20px;
			width: 560px;
			height: 315px;
		}
	}
}