body {
	background-color: $blue;
	background-image: url($dir + 'assets/medias/images/background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	@extend .courant-text;
	color: $white;
}

a {
	@extend .courant-text;
	color: white;
	text-decoration: none;
}

h1, h2, h3, h4, p {
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.scene-container {
	display: none;
	opacity: 0;
	width: 100vw;
	height: 100vh;
}

.background-generative {
	//background-image: url($dir + 'assets/medias/images/background-temp.png');
	//background-repeat: no-repeat;
	//background-position: center center;
	background-size: 65%;
	opacity: 0.4;
	width: 100vw;
	height: 100vh;
	position:absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top:0;
	left:0;
	z-index:-1;
}

.is-menu-open {
	.header {
		width: 100%;
	}
}

.is-intro {
	.header {
		display: none;
	}
}

.no-generative {
	.background-generative {
		display:none;
	}
}