html {
	@extend %BrownLight;
}

body {
	background-image: url($dir + 'assets/medias/images/background.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.is-menu-open {
	.header {
		width: 100%;
	}
}

.is-intro {
	.header {
		display: none;
	}
}