.canvas {

	.canvas__blob,
	.canvas__bubble {
		position:absolute;
		top:0;
		left:0;
		z-index: -1;
		opacity: 0;

		transition: 0.3s opacity ease-in;
	}
}

.is-blob {
	.canvas__blob {
		display: block;
		opacity: 1;
	}
}
.is-bubble {
	.canvas__bubble {
		display: block;
		opacity: 1;
	}
}