.choice {
	text-align:center;

	&__container {
		display: flex;
		flex-flow: column;
	}

	&__title {
		@extend .heading-1;
		opacity: 0.5;
	}

	&__text {
		@extend .question-text;
	}

	&__help {
		margin-top: 5px;
		opacity: 0.6;
	}

	&__blob {
		position:relative;
		display: flex;
		justify-content: center;
		align-items: center;

		height: 600px;
	}
}