.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index:100;

	.menu {
		padding: 45px 45px 0;

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__link {
			color: $white;
			text-decoration: none;

			&:hover {
				.icon-move {
					transform: translate(3px, 1px);
				}
			}
		}

		.item-menu {
			.menu__link {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				display:inline-block;

				img {
					width: 50px;
					height: 50px;
				}
			}
		}

		.item-help {
			display: none;

			img {
				width: 60px;
			}
		}

		.item-about {
			position:relative;
			width: 85px;
			height: 85px;
			display:none;

			.btn {
				width: 85px;
				height: 85px;
			}

			&__tooltip {
				@extend %TextExtraBold;
				position: absolute;
				display: none;
				top: 50%;
				left: 100%;
				opacity: 0;
				padding-left: 20px;
				transform: translateX(-30px) translateY(-14px);
				width: 200px;
			}

			&__icon {
				width:85px;
				height:85px;
			}

			.icon-move {
				position:absolute;
				top:-1px;
				left:0;
				transition: 200ms transform ease-in-out;
			}
		}
	}

	&.is-secondary {
		.menu {
			.item-menu {
				display: none;
			}
			.item-about {
				display: block;
			}
		}
	}

	&.is-third {
		.menu {
			.item-help {
				display: block;
			}
		}
	}
}