.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index:100;

	.menu {
		padding: 60px 60px 0;

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__link {
			color: $white;
			text-decoration: none;

			&:hover {
				.icon-move {
					transform: translate(3px, 1px);
				}
			}
		}

		.item-help {
			display: none;
		}

		.item-about {
			position:relative;
			width: 85px;
			height: 85px;
			display:none;

			.btn {
				width: 85px;
				height: 85px;
			}

			&__tooltip {
				@extend %TextExtraBold;
				position: absolute;
				display: none;
				top: 50%;
				left: 100%;
				opacity: 0;
				transform: translateX(-10px) translateY(-19px);
				width: 200px;
			}

			&__icon {

			}

			.icon-move {
				position:absolute;
				top:0;
				transition: 200ms transform ease-in-out;
			}
		}
	}

	&.is-secondary {
		.menu {
			.item-menu, .item-help {
				display: none;
			}
			.item-about {
				display: block;
			}
		}
	}
}