#intro-emotion {
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	flex-direction: column;

	.intro-timeline {
		width: 0;
		height: 2px;
		border-bottom: 2px dashed $white;
	}
	.intro-off {
		.off-list {
			margin: 25px 0;
			li:not(:first-child) {
				display: none;
				opacity: 0;
			}
		}
		.off-btn {
			width: 25px;
			height: 25px;
			margin: 25px auto;
			border-radius: 50px;
			cursor: pointer;
			position:relative;

			&-bg {
				width: 25px;
				height: 25px;
				background-color: #fff;
				border-radius: 50px;
				box-shadow: 0 0 15px 2.5px #ccc;
				position:absolute;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%);
			}

			&-wave {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				border: 1px white solid;
				display:inline-block;
				position:absolute;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%);
			}
		}
		.off-ready {
			display: none;
			margin: 25px 0;
			opacity: 0;
		}
	}

	.list-voice {
		.help {
			display: block;

			&:first-child {
				margin-bottom: 18px;
			}
		}

		.grey {
			opacity: 0.6;
		}
	}
}

.intro-emotion {
	text-align:center;

	&__container {
		display: flex;
		flex-flow: column;
	}

	&__title {
		@extend .heading-1;
	}

	&__blob {
		position:relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 600px;
	}

	&__loader {
		width: 600px;
		height: 600px;
		border: 1px white dotted;
		border-radius: 50%;
		position:absolute;
		display:none;
		opacity: 0;
	}
}