.intro {
	&__title {
		@extend .heading-1;
	}

	&__text {
		text-align:center;
		overflow: hidden;

		span {
			display:inline-block;
			transform: translateY(20px);
		}
	}

	svg {
		height:auto!important;
	}
}